@import "../css/typography.css";

body {
    background-color: #24292e;
}

.loading-dom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-style {
    padding-top: 1em;
    padding-bottom: 0.5em;
    top: auto !important;
    bottom: 0 !important;
}

/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* insert styles here */
    .video-style {
        position: relative;
        height: 25vh; width: 45vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 14px;
    }

    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
    /* insert styles here */
    .video-style {
        position: relative;
        height: 25vh; width: 45vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 14px;
    }

    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
    /* insert styles here */
    .video-style {
        position: relative;
        height: 20vh; width: 45vw;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 14px;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    /* insert styles here */
    .video-style {
        position: relative;
        height: 20vh; width: 35vw;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 14px;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
    /* insert styles here */
    .video-style {
        position: relative;
        height: 20vh; width: 45vw;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 14px;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
    .video-style {
        position: relative;
        height: 20vh; width: 45vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 14px;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    /* insert styles here */
    .video-style {
        position: relative;
        height: 25vh; width: 45vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 14px;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }
}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {

    .MuiDrawer-paper {
        width: 60% !important;
    }

    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }

}

/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }
    .MuiDrawer-paper {
        width: 60% !important;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
}

/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
}

/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
}

/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
}

/* (1600x900) HD+ Display */
@media  screen and (max-width: 1600px) {
    .video-style {
        position: relative;
        height: 45vh; width: 65vw;
        margin: 1em;
    }

    .time-card {
        padding: 2em 8em;
    }

    .time-day {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 26px;
    }

    .time-view {
        font-family: "DS-Digital Italic", serif !important;
        font-size: 20px;
    }
}

.wrapper{
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-bottom: 10;
}

.MuiDrawer-paper {
    width: 30% !important;
}

@media (max-width: 1200px) {

}