@import "../css/typography.css";

.navigation-style {
    padding-top: 1em;
    padding-bottom: 0.5em;
    top: auto !important;
    bottom: 0 !important;
}

.time-card {
    padding: 2em 8em;
}

.time-day {
    font-family: "DS-Digital Italic", serif !important;
    font-size: 2em;
}

.time-view {
    font-family: "DS-Digital Italic", serif !important;
    font-size: 26px;
    margin: 0.2em;
}

.video-style {
    width: 100%;
    margin: 4em;
}