@import "../css/typography.css";

.navigation-style {
    padding-top: 1em;
    padding-bottom: 0.5em;
    top: auto !important;
    bottom: 0 !important;
    width: 30% !important;
    margin-left: 35% !important;
    margin-right: 35% !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.time-card {
    padding: 1em;
}

.time-view {
    font-family: "DS-Digital Italic", serif !important;
    font-size: 26px;
    margin: 0.5em;
}